page-home {

    .table_1 tr
    {
    	line-height: 12px;
    }

	.kuva_1
	{
		float:left;
		width:200px
	}

	.input_narrow
	{
		width:40px
	}

	.service-list p,h3 {
		text-align: right; 
		display:inline-block;
		padding: 0px;
	}

	td, th {
    	border: 1px solid #dddddd;
    	text-align: left;
    	padding: 0px 5px 0px 5px;
	}
}
